<head>
  <style>
    #search-btn {
      background-color: inherit;
      border: none;
    }

    .bi-search {
      color: rgba(0,0,0,.55);
    }

    .bi-search:hover {
      color: #212529;
    }
  </style>
</head>

<nav class="navbar navbar-expand navbar-light bg-light" style="min-width: 30rem">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      Hamstergram
    <% end %>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 1.5rem; margin-left: auto!important; margin-right: 0.5rem!important">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link", id: "home-btn" do %>
          <i class="bi bi-house"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link", id: "upload-btn" do %>
          <i class="bi bi-plus-square"></i>
        <% end %>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li style="margin-left: 0.5rem; margin-right: 0.5rem;">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3" style="margin-bottom: 0.5rem!important">
                <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div>
            </li>
            <li>
              <%= link_to root_path, class: "dropdown-item", id: "login-logout-btn" do %>
                Login
              <% end %>
            </li>
            <li>
              <%= link_to register_path, class: "dropdown-item", id: "register-btn" do %>
                Register
              <% end %>
            </li>
          </ul>
      </li>
    </ul>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" id="search-btn"><i class="bi bi-search"></i></button>
    </form>
  </div>
</nav>
