<head>
  <style>
    #register-container {
      min-width: 34rem;
      max-width: 44rem;
      margin: auto;
      padding: 2rem;
      border: 0.05rem solid black;
      border-radius: 1rem;
    }

    .col-warning {
      padding-left: calc(var(--bs-gutter-x)/ 2);
      padding-right: calc(var(--bs-gutter-x)/ 2);
    }
  </style>
</head>

<h1>Sign Up</h1>

<div class="container bg-light" id="register-container">
    <%= form_with model: @user, url: sign_up_path do |form| %>

      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <% @user.errors.full_messages.each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>

      <div class="row mb-3 col-sm text-capitalize">
        <div class="col">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, class: "form-control #{"alert-danger" if false}", autofocus: true, placeholder: "Enter First Name" %>
        </div>
        <div class="col">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: "form-control #{"alert-danger" if false}", placeholder: "Enter Surname" %>
        </div>
      </div>
      <div class="mb-3 col-sm">
        <div class="col alert-danger form-control" style="<%= "display: none" if true %>", id="name-warning">
          Warning!
        </div>
      </div>

      <div class="row mb-3 col-sm">
        <%= form.label :username %>
        <div class="col">
          <%= form.text_field :username, class: "form-control #{"alert-danger" if false}", placeholder: "Enter Username" %>
        </div>
        <div class="col col-warning" id="username-warning">
        </div>
      </div>
      <div class="row mb-3 col-sm">
        <%= form.label :email %>
        <div class="col">
          <%= form.text_field :email, class: "col form-control #{"alert-danger" if false}", placeholder: "Enter e-Mail Address" %>
        </div>
        <div class="col col-warning" id="email-warning">
        </div>
      </div>
      <div class="row mb-3">
        <%= form.label :password %>
        <div class="col">
          <%= form.password_field :password, class: "form-control #{"alert-danger" if false}", placeholder: "Enter New Password" %>
        </div>
        <div class="col">
          <%= form.password_field :password_confirmation, class: "form-control #{"alert-danger" if false}", placeholder: "Repeat New Password" %>
        </div>
      </div>
      <div class="mb-3 col-sm">
        <div class="col alert-danger form-control" style="<%= "display: none" if true %>", id="password-warning">
          Warning!
        </div>
      </div>

      <div style="text-align: center">
        <%= form.submit "Sign Up", class: "btn btn-light #{"disabled" unless true}", id: "sign-up-btn" %>
      </div>
    <% end %>
</div>
